nav{
  background-color: rgb(51, 44, 44);
  height: 50px;
}

ul{
  display: flex;
  justify-content: center;
  gap: 100px;
  color: white;
}

li{
  padding-top: 10px;
}

.list{
  padding-top: 12px;
}

.para{
  padding-top: 30px;
  text-align: center;
}

span{
  color: rgb(57, 199, 255);
}

@media screen (max-width: 1400px) {
  .card{
    margin: 20px 0px 20px 0px;
  }  
}


.tabular{
  margin: 20px 312px;
}

.tab{
  margin-top: 20px;
}